body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background:linear-gradient(
        180deg,
        #1800ad 60%,
        #ffffff 60%
        );
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    background-color: #ffffff;
    width: 500px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 20px 15px rgba(0,0,0,0.3);
    text-align: center;
}

.logo img {
    width: 250px;
    margin-bottom: none;
}

h2 {
    font-size: 30px;
    margin: 5px 0;
}

.subtitle {
    font-size: 14px;
    margin-bottom: 10px;
}

form {
    text-align: left;
}

label {
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.boton {
    width: 104.2%;
    padding: 10px;
    background-color: #1800ad;
    color: white;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #000000;
}
