.layout{
    display: flex;
    height: 100vh;
}

.sidebar{
    width: 220px;
    background: #1800ad;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar .logo{
    color: white;
    text-align: start;
    margin-bottom: 30px;
}

.sidebar a{
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.sidebar a:hover{
    background: #000000;
}

.contenido{
    flex: 1;
    padding: 40px;
    background: #f4f6f9;
}

h2 {
    text-align: center;
    color: white;
    font-size: 30px;
    margin: 5px 0;
}

.boton {
    width: 100%;
    padding: 10px;
    text-align: start;
    background-color: #1800ad;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #000000;
}